textarea {
	resize: none;
}

.content {
	padding-top: 0;
	padding-bottom: 120px;
}

.map {
	height: 200px;
}

.map > iframe {
	width: 100%;
	height: 100%;
}

.main-container {
	background: white;
	padding: 20px;
}

.contact-form {
	margin-bottom: 30px;
}

.input {
	width: 100%;
	background: #f2f2f2;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
}


/*	MEDIA QUERIES	*/

@media (min-width: 768px) {

	.map {
		height: 400px;
	}

	.content {
		padding-bottom: 65px;
	}

	.main-container {
		position: relative;
		background: white;
		margin-top: -50px;
		z-index: 100;
		padding: 30px 50px 100px 50px;
	}
}